streamlit
pandas
numpy
scipy
openpyxl
matplotlib
plotly
seaborn
scikit-learn
tensorflow
xgboost
joblib
control
sympy
pyomo
pgmpy
networkx
statsmodels
pingouin
pyDOE2
reportlab
Pillow
requests
python-dateutil
tqdm